.admin-checkbox {
    transform: scale(1.5);
}

.admin-checkbox-div {
    height: 100px;
}

.background-color {
    background-color: #9C9C9C;
}

.login-link {
    color: black;
}

.register-button {
    min-height: 75px;
}

.sign-up-text {
    text-decoration: 0;
}